<!-- Title Block -->
<div class="sayit_title_container row sayit_js_height sayit_js_bg_image sayit_block_with_fimage" [attr.data-src]="countryImage" data-height="600">
  <div class="sayit_overlay sayit_fimage_overlay_type_light"></div>

  <div class="sayit_title_wrapper col push-middle">
    <h1 class="sayit_post_title">{{countryName}}</h1>
  </div>
</div>

<!-- Content -->
<div class="sayit_container content_box_wide sayit_no_sidebar">
  <div class="row sayit_no_sidebar">
    <div class="col col-12 sayit_content content_box_bg_color_off">
      <div class="sayit_tiny">
        <!-- Widget Blog Listing -->
        <div class="sayit_fullwidth_block">
          <div class="sayit_pr_60 sayit_pl_60">
            <div class="sayit_blog_listing_widget">
              <div class="sayit_widget_container">
                <div class="sayit_packery_blog_listing_cont sayit_packery_blog_listing_8755">
                  <!-- Item 1 -->
                  <div class="sayit_blog_item item_1">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_standard.html">
                        <img src="assets/imgs/clipart/places/usa/usa-1.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Orci Varius Natoque</h4>

                          <div class="sayit_post_excerpt">
                            Proin gravida tellus et urna consequat, eget suscipit sem interdum. Proin in lorem vel elit laoreet imperdiet ac in tortor. Ut dictum eu purus sagittis aliquam. Cras et tristique nisi. Pellentesque eleifend metus non dictum...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 5</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <!-- Item 2 -->
                  <div class="sayit_blog_item item_2">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_image.html">
                        <img src="assets/imgs/clipart/places/usa/usa-2.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Maecenas Aliquet Felis</h4>

                          <div class="sayit_post_excerpt">
                            Morbi placerat orci non sollicitudin dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed gravida ipsum nisi, aliquet tempus tellus cursus id. Etiam et congue elit. Aliquam...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 3</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <!-- Item 3 -->
                  <div class="sayit_blog_item item_3">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_video.html">
                        <img src="assets/imgs/clipart/places/usa/usa-3.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Sed Porta Ligula</h4>

                          <div class="sayit_post_excerpt">
                            Sed bibendum sed quam vel blandit. Nam imperdiet luctus sapien id eleifend. Nunc eu nisl vitae...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 12</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <!-- Item 4 -->
                  <div class="sayit_blog_item item_4">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_audio.html">
                        <img src="assets/imgs/clipart/places/usa/usa-4.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Duis Fringilla Tempor</h4>

                          <div class="sayit_post_excerpt">
                            Sed fermentum erat tellus, in aliquam ipsum bibendum et. Duis pulvinar consectetur eros non...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 0</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <!-- Item 5 -->
                  <div class="sayit_blog_item item_5">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_quote.html">
                        <img src="assets/imgs/clipart/places/usa/usa-5.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Ut Sagittis Justo</h4>

                          <div class="sayit_post_excerpt">
                            Duis eget libero sit amet erat faucibus facilisis ut ut elit. Nulla facilisi. Etiam tincidunt enim lacus, vel vulputate ex pretium congue. Vivamus in velit eget erat molestie dapibus. Morbi a rutrum justo. Praesent venenatis...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 7</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <!-- Item 6 -->
                  <div class="sayit_blog_item item_6">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_link.html">
                        <img src="assets/imgs/clipart/places/usa/usa-6.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Etiam Et Congue</h4>

                          <div class="sayit_post_excerpt">
                            Proin gravida tellus et urna consequat, eget suscipit sem interdum. Proin in lorem vel elit laoreet imperdiet ac in tortor. Ut dictum eu purus sagittis aliquam. Cras et tristique nisi. Pellentesque eleifend metus non dictum...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 4</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <!-- Item 7 -->
                  <div class="sayit_blog_item item_7">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_standard.html">
                        <img src="assets/imgs/clipart/places/usa/usa-7.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Quisque Tincidunt</h4>

                          <div class="sayit_post_excerpt">
                            Morbi placerat orci non sollicitudin dapibus. Pellentesque habitant morbi tristique senectus et...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 16</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <!-- Item 8 -->
                  <div class="sayit_blog_item item_8">
                    <div class="sayit_blog_item_wrapper">
                      <a href="post_image.html">
                        <img src="assets/imgs/clipart/places/usa/usa-8.jpg" alt="" />
                        <div class="sayit_overlay"></div>
                        <div class="sayit_bottom_overlay"></div>

                        <div class="sayit_post_content_cont">
                          <div class="sayit_post_categories">
                            <span class="sayit_cat">USA</span>
                          </div>

                          <h4 class="sayit_post_title">Fusce Non Tortor</h4>

                          <div class="sayit_post_excerpt">
                            Sed bibendum sed quam vel blandit. Nam imperdiet luctus sapien id eleifend. Nunc eu nisl vitae...
                          </div>

                          <div class="sayit_post_date_cont">
                            <div class="sayit_post_date">July 11, 2018</div>

                            <div class="sayit_post_comments"><i class="fa fa-comment-o"></i> 2</div>

                            <div class="clear"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>

                <div class="sayit_load_more blog_view_type_packery">
                  <a class="sayit_load_more_button packery_blog_trigger" href="javascript:void(0)">Load More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
