<!--/ Carousel start -->
<div id="main-slide" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators visible-lg visible-md">
    <li ng-repeat="post in featuredPosts" data-target="#main-slide" data-slide-to="{{$index}}" ng-class="{'active' : $first}"></li>
  </ol><!--/ Indicators end-->
  <!-- Carousel inner -->
  <div class="carousel-inner">
    <div ng-repeat="post in featuredPosts" ng-class="($index == 0) ? 'item active' : 'item'" style="background-image:url(Images/Post/{{post.TitleImage.split('.')[0]}}-RP.{{post.TitleImage.split('.')[1]}})">
      <div class="slider-content">
        <div class="post-cat title-font">
          <a href="#">{{post.Category}}</a>
        </div>
        <h2 class="entry-title">
          <a>{{post.Title}}</a>
        </h2>
        <p><a href="@Url.Action(" Index", "Post" )/{{post.NavUrlString}}/{{post.BlogId}}" class="title-font slider btn btn-primary">Full Story</a></p>
      </div>
    </div><!--/ Carousel item end -->
  </div><!-- Carousel inner end-->
  <!-- Controllers -->
  <a class="left carousel-control" href="#main-slide" data-slide="prev">
    <span><i class="fa fa-angle-left"></i></span>
  </a>
  <a class="right carousel-control" href="#main-slide" data-slide="next">
    <span><i class="fa fa-angle-right"></i></span>
  </a>

</div>
<!--/ Carousel end -->
