<!-- Title Block -->
<div class="sayit_title_container row sayit_js_height sayit_block_with_fimage" [attr.data-src]="blogData.TitleImage" data-height="600">
  <div class="sayit_overlay sayit_fimage_overlay_type_light"></div>

  <div class="sayit_title_wrapper col push-middle">
    <div class="sayit_post_category_cont">
      <a href="#">{{blogData.Country}}</a>
      /
      <span class="sayit_post_date">{{blogData.PostDate | date: longDate}}</span>
    </div>

    <h1 class="sayit_post_title">{{blogData.Title}}</h1>
  </div>
</div>

<!-- Content -->
<div class="sayit_container content_box_narrow sayit_right_sidebar">
  <div class="row sayit_right_sidebar">
    <!-- Content Area -->
    <div class="sayit_content content_box_bg_color_on">
      <div class="sayit_tiny">
        <img class="sayit_mb_10" src="{{postContent.Image_BeforeHighlights}}" alt="{{postContent.ImageStartAlt}}" />

        <p>Praesent risus ex, sagittis quis ligula eget, efficitur aliquet augue. Sed finibus dui a hendrerit sodales. Vivamus ac tortor nec mauris congue malesuada id vel nisi. Suspendisse elementum aliquet diam sed sollicitudin. Aliquam sed risus semper, congue mi nec, euismod eros. Maecenas a magna arcu. Etiam purus metus, accumsan in mi non, rutrum maximus arcu. Cras libero enim, facilisis ut enim id, iaculis semper est. Sed interdum ac sapien ut laoreet. Pellentesque tempor, sem at volutpat dignissim, erat mauris condimentum odio, et sodales lacus erat vulputate erat. Integer sed auctor mi, pharetra venenatis metus. Maecenas nec nulla condimentum, aliquam lorem interdum, facilisis nisl. Nunc lobortis purus lorem, nec commodo tellus bibendum vel. Etiam viverra nunc ex, ut semper mi imperdiet quis.</p>

        <p class="sayit_mb_40">Fusce elementum sollicitudin nisi et posuere. Proin laoreet ipsum ac tortor euismod aliquet. Aenean ut semper mi. Quisque finibus, ipsum ut scelerisque rhoncus, ante lacus sollicitudin metus, ac faucibus dui tortor nec erat.</p>

        <img class="sayit_mb_10" src="{{postContent.Image_AfterHighlights}}" alt="{{postContent.ImageUpperMidAlt}}" />

        <p class="sayit_mb_40">Maecenas a magna arcu. Etiam purus metus, accumsan in mi non, rutrum maximus arcu. Cras libero enim, facilisis ut enim id, iaculis semper est. Sed interdum ac sapien ut laoreet. Pellentesque tempor, sem at volutpat dignissim, erat mauris condimentum odio, et sodales lacus erat vulputate erat. Integer sed auctor mi, pharetra venenatis metus. Maecenas nec nulla condimentum, aliquam lorem interdum, facilisis nisl. Nunc lobortis purus lorem, nec commodo tellus bibendum vel. Etiam viverra nunc ex, ut semper mi imperdiet quis.</p>

      </div>

      <!-- Tags Area -->
      <div class="row align-middle sayit_tags_and_socials_cont">
        <div class="sayit_post_tags col">
          <div>
            <a href="#">Blog</a>
            <a href="#">Germany</a>
            <a href="#">Landscape</a>
            <a href="#">Travel</a>
          </div>
        </div>
      </div>
      <div class="clear"></div>

      <div class="sayit_single_divider"></div>

      <!-- Post Navigation Area -->
      <div class="sayit_posts_navigation">
        <span class="sayit_next_post_button sayit_post_nav_button">
          <a href="post_image.html">Next Post</a>
          <i class="fa fa-arrow-right"></i>
        </span>
      </div>
      <div class="clear"></div>

      <!-- About Author Area -->
      <div class="sayit_about_author">
        <div class="sayit_about_author_wrapper">
          <div class="sayit_author_ava">
            <img src="assets/imgs/clipart/author.png" alt="" width="100" height="100">
          </div>

          <div class="sayit_author_cont">
            <h6>
              <a href="#" title="Posts by Pixel-Mafia">Pixel-Mafia</a>
            </h6>

            <p>All made possible by our flavor, innovation and, most importantly, by unlocking potential in our team members.  Instead of following trends, we set them.</p>
          </div>
        </div>
      </div>

      <div class="sayit_single_divider"></div>

      <!-- Recent Posts -->
      <h5 class="sayit_featured_posts_heading">You may also like</h5>

      <div class="sayit_featured_posts sayit_items_2">
        <!-- Item 1 -->
        <div class="sayit_posts_item">
          <div class="sayit_fimage_cont">
            <a href="post_quote.html">
              <img src="assets/imgs/clipart/standard_post/img-3.jpg" alt="" />
            </a>
          </div>

          <div class="sayit_meta_cont">
            <div class="sayit_post_category">
              <a href="#">United Kingdom</a>
            </div>

            <span>/</span>

            <div class="sayit_post_date">July 11, 2018</div>
          </div>

          <h4 class="sayit_post_title">
            <a href="post_quote.html">Vivamus Dignissim Dui</a>
          </h4>

          <div class="sayit_excerpt">Nunc mattis tellus sit amet tincidunt elementum. Sed cursus, ligula in scelerisque facilisis, metus mauris placerat...</div>
        </div>

        <!-- Item 2 -->
        <div class="sayit_posts_item">
          <div class="sayit_fimage_cont">
            <a href="post_link.html">
              <img src="assets/imgs/clipart/standard_post/img-4.jpg" alt="" />
            </a>
          </div>

          <div class="sayit_meta_cont">
            <div class="sayit_post_category">
              <a href="#">Turkey</a>
            </div>

            <span>/</span>

            <div class="sayit_post_date">July 11, 2018</div>
          </div>

          <h4 class="sayit_post_title">
            <a href="post_link.html">Elementum Quam Porta</a>
          </h4>

          <div class="sayit_excerpt">Aenean pellentesque lectus quis erat lacinia gravida. Sed cursus vestibulum enim. Ut hendrerit pellentesque odio,...</div>
        </div>
      </div>

      <div class="sayit_single_divider"></div>

      <!-- Comments Area -->
      <div class="sayit_comments_cont">
        <div class="sayit_comments_wrapper">
          <h5 class="sayit_comments_title">Comments on This Post</h5>

          <div class="sayit_comment_list">
            <div class="comment even">
              <div class="sayit_comment_ava">
                <img src="assets/imgs/clipart/ava-1.png" alt="" width="70" height="70" />
              </div>

              <div class="sayit_comment_body">
                <div class="sayit_comment_meta">
                  <div class="sayit_comment_author_cont">
                    <h6 class="innertitle sayit_comment_author">Samantha Grenberg</h6>

                    <div class="sayit_comment_date">July 17, 2018</div>
                  </div>

                  <div class="sayit_comment_reply_cont">
                    <div class="sayit_comment_reply">
                      <a href="#">Reply</a>
                    </div>

                    <a class="comment-edit-link" href="#">Edit</a>
                  </div>

                  <div class="clear"></div>
                </div>

                <div class="sayit_comment_text">
                  <p>Nice blog and excellent travels.</p>
                </div>
              </div>

              <div class="comment odd">
                <div class="sayit_comment_ava">
                  <img src="assets/imgs/clipart/author.png" alt="" width="70" height="70" />
                </div>

                <div class="sayit_comment_body">
                  <div class="sayit_comment_meta">
                    <div class="sayit_comment_author_cont">
                      <h6 class="innertitle sayit_comment_author">Pixel-Mafia</h6>

                      <div class="sayit_comment_date">July 17, 2018</div>
                    </div>

                    <div class="sayit_comment_reply_cont">
                      <div class="sayit_comment_reply">
                        <a href="#">Reply</a>
                      </div>

                      <a class="comment-edit-link" href="#">Edit</a>
                    </div>

                    <div class="clear"></div>
                  </div>

                  <div class="sayit_comment_text">
                    <p>Thanks for your kind words.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="comment-respond" id="respond">
            <h5 class="sayit_reply_comment_title">Let us know your thoughts about this topic </h5>

            <form name="comment_form" id="comment_form">
              <textarea name="comment" cols="45" rows="5" placeholder="Join the Conversation" id="comment-message" class="form-field" form="comment_form"></textarea>
              <input placeholder="Enter Your Name *" name="author" type="text" value="" size="30">
              <input placeholder="Enter Your Email *" name="email" type="text" value="" size="30">
              <p class="form-submit">
                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
