<!-- Title Block -->
<div class="sayit_title_container row sayit_js_height sayit_js_bg_image sayit_block_with_fimage" data-src="assets/imgs/clipart/Contact.jpg" data-height="600">
  <div class="sayit_overlay sayit_fimage_overlay_type_light"></div>

  <div class="sayit_title_wrapper col push-middle">
    <h1 class="sayit_post_title">Contacts</h1>
  </div>
</div>

<!-- Content -->
<div class="sayit_container content_box_narrow sayit_right_sidebar">
  <div class="row sayit_right_sidebar">
    <!-- Content Area -->
    <div class="col col-12 sayit_content content_box_bg_color_on">
      <div class="sayit_tiny">
        <div class="row">
          <div class="col col-8 push-center">
            <div class="sayit_widget_title">
              <div class="sayit_widget_container sayit_text_align_center sayit_mb_20">
                <h2 class="sayit_element_heading sayit_view_type_1">Have a Question? Get In Touch With Me</h2>
              </div>
            </div>
          </div>
        </div>

        <p>Got something to ask/share over a PM? You are more than welcome to provide a feedback as well.</p>

        <p class="sayit_mb_40">Fill the form below and connect with me by sending your message. If you want to share an image/video/file with me, you can do so when I reply you back.</p>

        <!-- Form Widget -->
        <div class="sayit_form_widget">
          <div class="sayit_widget_container">
            <div class="sayit_form_wrapper">
              <form name="contact_form" id="contact_form">
                <p>
                  <input type="text" name="your-name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Name*" form="contact_form">
                  <input type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Email*" form="contact_form">
                  <textarea name="your-message" cols="40" rows="10" aria-invalid="false" placeholder="Message" form="contact_form"></textarea>
                  <input type="submit" value="Send Message" form="contact_form">
                </p>
              </form>
            </div>
          </div>
        </div>

        <div class="sayit_mb_90"></div>

        <!-- Socials -->
        <div class="row">
          <div class="col col-12">
            <div class="sayit_widget_title">
              <div class="sayit_widget_container sayit_text_align_center sayit_mb_20">
                <h2 class="sayit_element_heading sayit_view_type_1">Feel Free to Visit My Socials</h2>
              </div>
            </div>
          </div>
        </div>

        <p id="socialsSubtitle" class="sayit_mb_40">You can connect & shoot me a message on all these platforms. Check out my Instagram & Pinterest to see HD photos of my trips.</p>

        <div class="sayit_social_icons_widget">
          <div class="sayit_widget_container sayit_text_align_center sayit_mb_70">
            <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-instagram"></i></a>
            <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>

        <!-- Flip Boxes -->
        <div class="row">
          <div class="col col-8 push-center">
            <div class="sayit_widget_title">
              <div class="sayit_widget_container sayit_text_align_center sayit_mb_52">
                <h2 class="sayit_element_heading sayit_view_type_1">See My Trending Trips</h2>
                <p class="sayit_subtitle_cont">Trips highly liked by site visitors. On mobile screen, tap on the tile to flip and see the link to post.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Item 1 -->
          <div class="col col-6 sayit_pr_10 sayit_md_padding_0 sayit_md_mb_40">
            <div class="sayit_flip_box_widget">
              <div class="sayit_widget_container">
                <div class="sayit_flipbox_wrapper">
                  <div class="sayit_flip_box">
                    <!-- Front Container -->
                    <div class="sayit_flipbox_front sayit_js_bg_image" [attr.data-src]="trendingPosts[0].TitleImage">
                      <div class="sayit_front_title_cont">
                        <h2 class="sayit_front_title">{{trendingPosts[0].Country}}</h2>
                      </div>

                      <div class="sayit_front_description_cont">
                        <p class="sayit_front_description">{{trendingPosts[0].Summary}}</p>
                      </div>
                    </div>

                    <!-- Back Container -->
                    <div class="sayit_flipbox_back sayit_js_bg_image" [attr.data-src]="country1Image">
                      <div class="sayit_flipbox_back_inner">
                        <div class="sayit_back_button_wrapper">
                          <a class="sayit_back_button" href="/post/{{trendingPosts[0].NavUrlString}}/{{trendingPosts[0].BlogId}}">See The Trip</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Item 2 -->
          <div class="col col-6 sayit_pl_10 sayit_md_padding_0">
            <div class="sayit_flip_box_widget">
              <div class="sayit_widget_container">
                <div class="sayit_flipbox_wrapper">
                  <div class="sayit_flip_box">
                    <!-- Front Container -->
                    <div class="sayit_flipbox_front sayit_js_bg_image" [attr.data-src]="trendingPosts[1].TitleImage">
                      <div class="sayit_front_title_cont">
                        <h2 class="sayit_front_title">{{trendingPosts[1].Country}}</h2>
                      </div>

                      <div class="sayit_front_description_cont">
                        <p class="sayit_front_description">{{trendingPosts[1].Summary}}</p>
                      </div>
                    </div>

                    <!-- Back Container -->
                    <div class="sayit_flipbox_back sayit_js_bg_image" [attr.data-src]="country2Image">
                      <div class="sayit_flipbox_back_inner">
                        <div class="sayit_back_button_wrapper">
                          <a class="sayit_back_button" href="/post/{{trendingPosts[1].NavUrlString}}/{{trendingPosts[1].BlogId}}">See The Trip</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
