<!-- Content -->
<div class="sayit_container content_box_wide sayit_no_sidebar">
  <div class="row sayit_no_sidebar">
    <div class="col col-12 sayit_content content_box_bg_color_off">
      <div class="sayit_tiny">
        <!-- Post Slider -->
        <hero-carousel></hero-carousel>

        <div class="sayit_mb_160 sayit_sm_mb_60"></div>

        <div class="row gutters">
          <div class="col col-6 sayit_pr_15">
            <h2 class="sayit_mb_20">In Search of Great Adventures</h2>

            <p>Nunc laoreet nunc ac vulputate tincidunt. Cras pellentesque eros justo, sed mattis quam dignissim ut. Vivamus euismod dapibus pretium. Phasellus a interdum leo. Proin pretium enim metus, ac iaculis quam placerat quis. Aliquam iaculis, mi non molestie aliquam. Pellentesque sed ipsum congue, laoreet erat vitae, dignissim metus.</p>

            <p class="sayit_mb_40">Sed eu magna quam. Vivamus euismod dapibus pretium. Phasellus a interdum leo. Pellentesque sed ipsum congue, laoreet erat vitae, dignissim metus. Proin pretium enim metus, ac iaculis quam placerat quis. Aliquam iaculis, mi non molestie aliquam.</p>

            <div class="sayit_popup_button_widget">
              <div class="sayit_widget_container sayit_mb_50">
                <div class="sayit_popup_button_wrapper">
                  <div class="sayit_popup_button_popup">
                    <div class="sayit_popup_button_popup_close"></div>

                    <div class="sayit_popup_button_content_cont">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere egestas purus, id molestie nisl dignissim eu. Donec malesuada in tortor id luctus. Nulla hendrerit lectus at mattis vestibulum. Integer eget tristique ante, id ullamcorper ligula. Nam quis ipsum eget dui elementum dapibus. Vivamus vehicula rhoncus viverra. Ut at convallis nisi, vitae sagittis arcu. Duis a vulputate felis. Fusce cursus felis libero, eget eleifend tellus laoreet a. Morbi semper turpis ac sapien lacinia faucibus. Vivamus nisl enim, finibus non dignissim nec, fermentum ac lacus. Phasellus scelerisque imperdiet magna ac aliquet. Integer id finibus lacus. Sed vitae ligula eu quam sodales rhoncus. Praesent facilisis egestas neque eget hendrerit. Sed magna elit, aliquet sit amet finibus sit amet, hendrerit vel velit.</p>
                      <br>
                      <p>Nunc laoreet nunc ac vulputate tincidunt. Cras pellentesque eros justo, sed mattis quam dignissim ut. Pellentesque sed ipsum congue, laoreet erat vitae, dignissim metus. Nulla et commodo velit. Mauris efficitur turpis sit amet sem accumsan iaculis. Donec efficitur ligula eu metus convallis, eu aliquam augue viverra. Donec eros mi, ornare ac sapien in, consectetur porttitor ipsum. Nam congue augue diam, in finibus odio blandit sed. Aenean maximus ullamcorper arcu, in tempus nunc mattis id. Phasellus efficitur risus pellentesque, scelerisque urna ut, faucibus mi. Nam in aliquam ante. Quisque dignissim elit vitae molestie eleifend. Proin pretium odio fringilla ligula fringilla, ac commodo.</p>
                      <br>
                      <p>Fusce in condimentum lorem. Donec eros urna, ultrices et molestie et, laoreet a arcu. Sed sit amet lacus et risus consectetur ullamcorper. Nullam lacinia felis non mauris tincidunt, id elementum urna rhoncus. Morbi ac hendrerit erat, id rutrum sapien. Aenean vulputate nec orci vel euismod. Nullam varius vitae dolor quis pretium. Donec placerat libero quis neque placerat iaculis. Etiam ultricies iaculis eros ut iaculis. Donec vestibulum, risus nec iaculis euismod, nisi ligula euismod sem, id eleifend lectus quam nec ex. Cras maximus justo orci. Aenean tincidunt euismod tortor, quis commodo mi cursus a. Etiam dapibus dolor ac magna vestibulum, eget condimentum massa pulvinar.</p>
                    </div>
                  </div>

                  <a class="sayit_popup_button" href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col col-6 sayit_pl_15 sayit_md_padding_0 sayit_md_mb_40">
            <img src="assets/imgs/clipart/adventures.jpg" alt="" />
          </div>
        </div>

        <div class="sayit_mb_100 sayit_sm_mb_40"></div>

        <recent-posts></recent-posts>

        <div class="sayit_mb_120 sayit_sm_mb_60"></div>

        <!-- Socials -->
        <div class="row gutters">
          <div class="col col-6">
            <img src="{{bloggerImageUrl}}" alt="Blogger image" class="sayit_md_mb_15" />
          </div>

          <div class="col col-6 sayit_pl_20 sayit_md_padding_0">
            <div class="sayit_widget_title">
              <div class="sayit_widget_container sayit_text_align_center sayit_mb_27 sayit_mt_20">
                <h2 class="sayit_element_heading sayit_view_type_1">Feel Free to Visit My Socials</h2>
              </div>
            </div>

            <p class="sayit_text_align_center sayit_mb_20">
              I do a regular corporate and follow my passion post work, sometime need to extend but that's okay.
              My first motorcycle trip was back in 2013 and with time picked up Photography, Storytelling as my hobbies and eventually started writing my own blogs.
              <br />
              Do check out the Photography section to find some incredible High Definition landscape snaps. Feel free to contact me if you like to know more about any photo.
              I love to share things as I discover them.
            </p>

            <div class="sayit_social_icons_widget">
              <div class="sayit_widget_container sayit_text_align_center">
                <a class="sayit_social_icon" href="https://www.facebook.com/gitungrh" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="sayit_mb_100 sayit_sm_mb_40"></div>

        <featured-posts></featured-posts>

        <!--<div class="sayit_mb_78 sayit_sm_mb_0"></div>-->
      </div>
    </div>
  </div>
</div>
