/* You can add page specific styles to override the global styles in this file */

/* Override the Social Icons Widget style to show smaller social icons for authors in blog page */
.blog_social_icon {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 15px;
}
