<!-- Title Block -->
<div class="sayit_title_container row sayit_js_height sayit_js_bg_image sayit_block_with_fimage" data-src="assets/Images/Clipart/Admin.jpg" data-height="300">
  <div class="sayit_overlay sayit_fimage_overlay_type_light"></div>

  <div class="sayit_title_wrapper col push-middle">
    <h1 class="sayit_post_title">Admin Dashboard</h1>
  </div>
</div>
<div class="sayit_container sayit_mb_0">
  <a href="javascript:void(0)" class="btn sayit_mt_10" (click)="signOut()">
    <i class="fa fa-sign-out"></i> Log out - {{userName}}
  </a>
  <h3 class="sayit_mb_0">Contact Us</h3>
  <contact-us-dashboard></contact-us-dashboard>
</div>
