.sayit_container h3 {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #fff;
  background-color: #5bc0de;
  border: 1px solid #46b8da;
}

  .btn:hover {
      border-color: black;
  }
