<!-- Content -->
<div class="sayit_fullscreen_mode_page sayit_full_mode_standard">
  <div class="sayit_image_cont sayit_js_bg_image" data-src="assets/Images/Clipart/about-me.jpeg" style="margin-top: 85px;"></div>

  <div class="sayit_content_cont">
    <div class="sayit_content_wrapper">
      <div class="sayit_tiny">
        <div class="sayit_mb_110 sayit_sm_mb_0"></div>

        <div class="sayit_widget_title">
          <div class="sayit_widget_container sayit_text_align_center sayit_mt_30 sayit_mb_30">
            <h2 class="sayit_element_heading sayit_view_type_1">Hi! My Name is Priyabrata Dash.</h2>
          </div>
        </div>

        <p>
          My friends call me Dash. As a kid I wanted to be a doctor but ended up becoming an engineer and life made me a traveler:)
          I started my travel journey as a biker wandering the Western Ghats in south India, thanks to my riding buddies and the people who inspired me to go places without thinking much.
          I stopped riding motorcycle in 2016 due to professional commitments etc. but never stopped traveling. I work as an engineer always looking for an opportunity to explore new places near or far!
        </p>

        <p class="sayit_mb_140 sayit_sm_mb_80">
          When exploring a new place, I try my best to move around like a local using buses and public transport which later I put on my blogs as I experience it.
          Of-coure I get both pleasant & unpleasant experiences in my journies but hey that's what we call traveling right! Offbeat places are my fav since I find less tourists & more travelers at these places.
          I love natural and kaleidoscopic landscapes which inspired me to try my hands on photography, as a result you'll find some quality clicks in my blogs.
          If you love Traveling/Photography/Blogging/Motorcycling, you’ll feel right at home here. I love to share things as I discover them.
        </p>

        <div class="sayit_mb_140 sayit_sm_mb_80"></div>

        <!-- Socials -->
        <div class="row">
          <div class="col col-8 push-center sayit_tab_width_100">
            <div class="sayit_widget_title">
              <div class="sayit_widget_container sayit_text_align_center sayit_mb_40">
                <h2 class="sayit_element_heading sayit_view_type_1">Find Me in Socials</h2>
                <p class="sayit_subtitle_cont">
                  I try to spend minimal time on social media platforms to give more time to my real life. But that doesn't mean I'm slow on attending messages on these platforms.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="sayit_social_icons_widget">
          <div class="sayit_widget_container sayit_text_align_center sayit_mb_100 sayit_tab_mb_80">
            <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="sayit_social_icon" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
