<!-- Header -->
<header>
  <div class="row align-middle sayit_logo_left">
    <div class="col sayit_logo_container col-2">
      <div class="sayit_logo_cont">
        <a class="sayit_image_logo sayit_retina" href="index.html"></a>
      </div>

      <div class="sayit_menu_mobile_trigger">
        <div class="sayit_trigger_container">
          <div class="sayit_trigger_inner">

          </div>
        </div>
      </div>
    </div>

    <div class="col sayit_menu_container col-8">
      <div class="sayit_menu_cont">
        <div class="sayit_additional_button_cont">
          <a class="sayit_additional_sidebar_trigger" href="javascript:void(0)" title="Open Additional Sidebar"><i class="icon-address-card"></i></a>
        </div>

        <div class="sayit_menu_inner">
          <ul class="sayit_menu sayit_header_menu">
            <!-- Home -->
            <li [ngClass]="{'menu-item': true, 'current-menu-ancestor': isActiveAncestor('')}">
              <a href="/">Home</a>
            </li>

            <!-- Places -->
            <li [ngClass]="{'menu-item-has-children menu-item': true, 'current-menu-ancestor': isActiveAncestor('/places')}">
              <a href="javascript:void(0)">Places</a>

              <ul class="sub-menu">
                <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/Indonesia')}"><a href="/places/country/Indonesia">Indonesia</a></li>
                <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/Laos')}"><a href="/places/country/Laos">Laos</a></li>
                <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/Thailand')}"><a href="/places/country/Thailand">Thailand</a></li>
                <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/China')}"><a href="/places/country/China">China</a></li>
              </ul>
            </li>

            <!-- Photos -->
            <li [ngClass]="{'menu-item': true, 'current-menu-ancestor': isActiveAncestor('/photos')}">
              <a href="/photos">Photos</a>
            </li>

            <!-- Contacts -->
            <li [ngClass]="{'menu-item': true, 'current-menu-ancestor': isActiveAncestor('/contact')}">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col sayit_header_socials_and_search_container col-2 sayit_text_align_right">
      <div class="sayit_header_socials">
        <a class="sayit_footer_social_button sayit_facebook" href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
        <a class="sayit_footer_social_button sayit_twitter" href="https://twitter.com/"><i class="icon-twitter"></i></a>
        <a class="sayit_footer_social_button sayit_linkedin" href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a>
      </div>

      <div class="sayit_header_search_container">
        <a class="sayit_header_search_button" href="javascript:void(0)"><i class="icon-search"></i></a>

        <div class="sayit_header_search_popup">
          <div class="sayit_header_search_content_cont">
            <form name="header_search_form" id="header_search_form" class="sayit_search_form" method="get">
              <span class="sayit_icon_search"><i class="fa fa-search"></i></span>
              <input type="text" name="s" placeholder="Search" title="Search the site..." class="sayit_field_search" form="header_search_form">
              <div class="clear"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sayit_menu_mobile">
    <ul class="sayit_menu">
      <!-- Home -->
      <li [ngClass]="{'menu-item': true, 'current-menu-ancestor': isActiveAncestor('')}">
        <a href="/">Home</a>
      </li>

      <!-- Places -->
      <li [ngClass]="{'menu-item-has-children menu-item': true, 'current-menu-ancestor': isActiveAncestor('/places')}">
        <a href="javascript:void(0)">Places</a>

        <ul class="sub-menu">
          <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/Indonesia')}"><a href="/places/country/Indonesia">Indonesia</a></li>
          <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/Laos')}"><a href="/places/country/Laos">Laos</a></li>
          <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/Thailand')}"><a href="/places/country/Thailand">Thailand</a></li>
          <li [ngClass]="{'menu-item': true, 'current-menu-item': isActiveItem('/China')}"><a href="/places/country/China">China</a></li>
        </ul>
      </li>

      <!-- Photos -->
      <li [ngClass]="{'menu-item': true, 'current-menu-ancestor': isActiveAncestor('/photos')}">
        <a href="/photos">Photos</a>
      </li>

      <!-- Contacts -->
      <li [ngClass]="{'menu-item': true, 'current-menu-ancestor': isActiveAncestor('/contact')}">
        <a href="/contact">Contacts</a>
      </li>
    </ul>
  </div>
</header>
<div class="sayit_empty_item"></div>
